git+https://github.com/adsabs/ADSMicroserviceUtils.git@v1.1.2
adsutils==1.0.33
editdistance==0.5.3
flask-discoverer==0.1.4
Flask-RESTful==0.3.6
Flask-Testing==0.6.2
fuzzywuzzy==0.17.0
html==1.16.0
lxml==4.4.1
python-levenshtein==0.12.0
unidecode==1.1.1
Werkzeug==0.11.15



